h1 {

}

// Variables
@link-color:        #428bca; // sea blue
@secondary-color:   #448AFF;

#navbar {
    background-color: @link-color;
}

.no-select {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#homepage {
    padding-top: 3.5rem;

    #reminders-container {
        margin-top: 1.75rem;
    }
  
    .state-icon {
        margin-right: 1rem;
    }
    
    input.hidden {
        display: none;
    }
    
    .list-group-item-primary {
        color: rgb(255, 255, 255);
        background-color: rgb(66, 139, 202);
    }
  
    .list-group-item-custom {
        color: rgb(255, 255, 255);
        background-color: @secondary-color;
    }
}

#managedocs {
    .btn {
        background-color: @link-color; /* Blue background */
        border: none; /* Remove borders */
        color: white; /* White text */
        font-size: 16px; /* Set a font size */
        cursor: pointer; /* Mouse pointer on hover */
    }
    .btn:hover {
        background-color: darkcyan;
    }
    #page-title {
        text-align: center;
        font-size: 24pt;
        padding-top: 3.5rem;
    }

    table {
        padding: 0px !important;
        margin: 0px !important;
        text-align: center;
    }

    #bottom-buttons {
        display: flex;
        justify-content: flex-end;
        padding: 5px;

        #bottom-button {
            padding: 2px;
        }
    }

    .close {
        display: inline;
        padding: auto !important;
        margin: 0 !important;

    }

    .modal-title {
        margin: auto auto;

        padding-left: 25px;
    }

    .title {
        align-content: center;
    }
}